<div class="big-container">
  <h1>On fait quoi aujourd'hui ?</h1>
  <div class="container">
    <div class="movie" (click)="getRandomMedia('film')">
      <p>un film</p>
      <img class="default-icon" src="/assets/icon/movie.png" alt="" />
      <img class="hover-icon" src="/assets/icon/movie-pink.png" alt="" />
    </div>
    <div class="jeu" (click)="getRandomMedia('jeux')">
      <p>un jeu</p>
      <img class="default-icon" src="/assets/icon/manette.png" alt="" />
      <img class="hover-icon" src="/assets/icon/manette-pink.png" alt="" />
    </div>
  </div>
  <div class="random-container">
    <div
      class="random-media-display"
      *ngIf="random"
      @mediaAnimation
      (@mediaAnimation.done)="mediaAnimDone($event)"
    >
      <span
        class="media-title"
        [ngClass]="{ 'title-animated': titleAnimationDone }"
        >{{ randomMediaTitle }}</span
      >
      <img
        class="media-poster"
        [src]="randomMediaPoster"
        alt="Affiche du média"
        [ngClass]="{ 'poster-animated': posterAnimationDone }"
        (click)="moreInfo()"
      />
    </div>
  </div>
</div>
