<div class="landing-page-container">
  <div class="first-container">
    <h1>Bienvenue sur data geek</h1>
    <div class="second-container">
      <div class="first-p">
        <p>
          Votre espace dedie aux cultures cine et gaming. Gerez votre
          collection, suivez les nouveautes et accedez a votre univers geek, ou
          que vous soyez.
        </p>
      </div>
      <div class="second-p">
        <p>
          Decouvrez, organisez et plongez dans vos mondes preferes, tout en un
          clic.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="icon-container">
  <div class="biblio">
    <img src="../../../assets/icon/icon_biblio.png" alt="" />
    <p>Gerez et organisez votre collection de jeux en toute simplicite</p>
  </div>
  <div class="biblio">
    <img src="../../../assets/icon/icon_info.png" alt="" />
    <p>Accedez a des infos detaillees sur vos futur jeux et films</p>
  </div>
  <div class="biblio">
    <img src="../../../assets/icon/icon_cloud.png" alt="" />
    <p>Emportez votre collection partout, sur tous vos appareils</p>
  </div>
</div>
