@keyframes breathe {
  0%,
  100% {
    box-shadow: 0px -13.5px 30px 1px rgba(73, 199, 216, 0.5);
  }
  50% {
    box-shadow: 0px 13.5px 30px 1px rgba(73, 199, 216, 0.5);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 3rem;
  background-color: #04043c;
  /* box-shadow: 0px 0px 10px 1px rgba(73, 199, 216, 0.5); */
  animation: breathe 5s infinite;
}
img {
  height: 3rem;
}
#param {
  margin-right: 0.5rem;
}
#menu {
  margin-left: 0.5rem;
}
@media only screen and (max-width: 650px) {
  #logo {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
  #param {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
  #menu {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  #logo {
    height: 2rem;
    margin-top: 0.5rem;
  }
  #param {
    height: 2rem;
    margin-top: 0.5rem;
  }
  #menu {
    height: 2rem;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #logo {
    height: 1.5rem;
    margin-top: 0.7rem;
  }
  #param {
    height: 1.8rem;
    margin-top: 0.7rem;
  }
  #menu {
    height: 1.8rem;
    margin-top: 0.7rem;
  }
}
