@keyframes breathe {
  0%,
  100% {
    box-shadow: 0px -13.5px 30px 1px rgba(73, 199, 216, 0.5);
  }
  50% {
    box-shadow: 0px 13.5px 30px 1px rgba(73, 199, 216, 0.5);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 3rem;
  background-color: #04043c;
  /* box-shadow: 0px 0px 10px 1px rgba(73, 199, 216, 0.5); */
  /* animation: breathe 5s infinite; */
  animation: none;
  transition: background-color 2.5s ease;
}
img {
  height: 3rem;
}

.navbar.disconnected {
  background-color: #ffffff; /* Gris ou la couleur désirée pour l'état déconnecté */
  animation: none; /* Aucune animation */
}

/* Styles pour l'état connecté */
.navbar.connected {
  background-color: #04043c; /* Votre couleur originale */
  animation: breathe 5s infinite 3.7s; /* L'animation existante */
}

/* Transition pour l'effet 's'allume' */
.navbar {
  transition: background-color 2.5s ease; /* Assurez-vous que l'animation est douce */
}

img#menu.disconnected {
  transform: translateX(-70px); /* Déplacer l'icône hors de l'écran */
}
img#param.disconnected {
  transform: translateX(70px); /* Déplacer l'icône hors de l'écran */
}
img#logo.disconnected {
  transform: translateY(-150px); /* Remettre l'icône à sa position originale */
}
img#menu.connected {
  transform: translateX(0); /* Remettre l'icône à sa position originale */
}

img#param.connected {
  transform: translateX(0); /* Remettre l'icône à sa position originale */
}
img#logo.connected {
  transform: translateX(0); /* Remettre l'icône à sa position originale */
}
img#menu,
img#param {
  /* Transition avec un délai de 0s par défaut */
  transition: transform 2.7s ease 0s;
}
img#logo {
  transition: transform 3s ease 0s;
}
#param {
  margin-right: 0.5rem;
}
#menu {
  margin-left: 0.5rem;
}
@media only screen and (max-width: 650px) {
  #logo {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
  #param {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
  #menu {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  #logo {
    height: 2rem;
    margin-top: 0.5rem;
  }
  #param {
    height: 2rem;
    margin-top: 0.5rem;
  }
  #menu {
    height: 2rem;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #logo {
    height: 1.5rem;
    margin-top: 0.7rem;
  }
  #param {
    height: 1.8rem;
    margin-top: 0.7rem;
  }
  #menu {
    height: 1.8rem;
    margin-top: 0.7rem;
  }
}
