<nav role="navigation" (click)="onClick($event)">
  <div
    [ngClass]="{ connected: isAuthenticated, disconnected: !isAuthenticated }"
    class="navbar"
  >
    <a [routerLink]="['/login']" title="Aller à la page de connexion">
      <img
        id="menu"
        [ngClass]="{
          disconnected: !isAuthenticated,
          connected: isAuthenticated
        }"
        src="/assets/icon/menu.png"
        alt="Menu"
    /></a>
    <a [routerLink]="['/cardselect']"
      ><img
        id="logo"
        [ngClass]="{
          disconnected: !isAuthenticated,
          connected: isAuthenticated
        }"
        src="/assets/icon/logo.png"
        alt=""
    /></a>
    <a [routerLink]="['/settings']" title="Acceder aux parametres"
      ><img
        id="param"
        [ngClass]="{
          disconnected: !isAuthenticated,
          connected: isAuthenticated
        }"
        src="/assets/icon/roue-dentee.png"
        alt="Parametres"
    /></a>
  </div>
</nav>
