<nav role="navigation">
  <div
    (click)="onClick($event)"
    class="side-menu"
    [ngClass]="{ show: showSideMenu }"
  >
    <div class="side-menu-container" (click)="onClick($event)">
      <ng-container *ngIf="isAuthenticated; else notAuthenticatedLinks">
        <p [routerLink]="['/cardselect']">Voir mes platforms</p>
        <p [routerLink]="['/settings']">Ajouter ou supprimer des platforms</p>
        <p [routerLink]="['/what']">On fait quoi aujourd'hui ?</p>
        <p [routerLink]="['/update']">Modifier mon compte</p>
        <p (click)="deconnexion()">Deconnexion</p></ng-container
      >
      <ng-template #notAuthenticatedLinks>
        <p [routerLink]="['/inscription']">S'inscrire</p>
        <p [routerLink]="['/login']">Connexion</p>
      </ng-template>
    </div>
  </div>
  <div
    [ngClass]="{ connected: isAuthenticated, disconnected: !isAuthenticated }"
    class="navbar"
  >
    <div class="icon-container menu" (click)="onClick($event)" id="menuIcon">
      <img
        class="icon default-icon"
        id="menuIcon"
        [ngClass]="{'hidden': showSideMenu,
          disconnected: !isAuthenticated,
          connected: isAuthenticated,
          'icon-rotate': true,
          active: showSideMenu,
          
        }"
        src="/assets/icon/menu.png"
        alt="Menu"
      />
      <img
        class="icon hover-icon"
        [ngClass]="{
          disconnected: !isAuthenticated,
          connected: isAuthenticated,
          'icon-rotate': false,
          active: showSideMenu,
          
        }"
        class="hover-image"
        src="/assets/icon/menu-pink.png"
        alt="Paramètres"
      />
    </div>
    <!-- </a> -->
    <a [routerLink]="['/cardselect']"
      ><img
        id="logo"
        [ngClass]="{
          disconnected: !isAuthenticated,
          connected: isAuthenticated
        }"
        src="/assets/icon/logo.png"
        alt=""
    /></a>
    <p *ngIf="!isAuthenticated" class="login-message">
      <!-- Veuillez vous connecter -->
    </p>
    <a [routerLink]="['/settings']" title="Acceder aux parametres">
      <div class="icon-container settings">
        <img
          class="icon default-icon"
          [ngClass]="{
            disconnected: !isAuthenticated,
            connected: isAuthenticated
          }"
          src="/assets/icon/roue-dentee.png"
          alt="Parametres"
        />
        <img
          class="icon hover-icon"
          [ngClass]="{
            disconnected: !isAuthenticated,
            connected: isAuthenticated
          }"
          class="hover-image"
          src="/assets/icon/roue-dentee-pink.png"
          alt="Paramètres"
        /></div
    ></a>
  </div>
</nav>
