@keyframes breathe {
  0%,
  100% {
    box-shadow: 0px -13.5px 30px 1px rgba(73, 199, 216, 0.5);
  }
  50% {
    box-shadow: 0px 13.5px 30px 1px rgba(73, 199, 216, 0.5);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 3rem;
  background-color: #04043c;
  /* box-shadow: 0px 0px 10px 1px rgba(73, 199, 216, 0.5); */
  /* animation: breathe 5s infinite; */
  animation: none;
  transition: background-color 2.5s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  /* position: fixed; */
}
.side-menu {
  position: fixed;
  left: -100%; /* Position de départ hors de l'écran */
  top: 0;
  width: 250px; /* Largeur du menu latéral */
  height: 100%;
  background-color: #333; /* Couleur de fond du menu */
  overflow-x: hidden; /* Cache le débordement horizontal */
  transition: left 0.5s ease-in-out; /* Transition pour l'effet coulissant */
  z-index: 1;
  /* Ajoutez d'autres styles selon vos besoins */
}
.side-menu p {
  z-index: 0;
}

.side-menu.show {
  left: 0; /* Fait apparaître le menu */
}
.icon-rotate {
  transition: transform 0.5s ease-in-out; /* Transition pour l'effet de rotation */
  z-index: 5;
}

.icon-rotate.active {
  transform: rotate(180deg); /* Rotation de 180 degrés */
  z-index: 5;
}
.hidden {
  opacity: 0;
}
#menuIcon {
  z-index: 0;
}
img {
  height: 3rem;
  z-index: 2;
}
.hover-effect {
  opacity: 0; /* Comme dans l'état de survol */
}

/* Affiche l'image de survol lorsque le menu est ouvert */
.show-hover {
  opacity: 1;
}
.icon-container {
  position: relative;
  height: 3rem;
  width: 3rem;
  z-index: 5;
}
.icon-container .icon {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}
.icon-container .default-icon {
  opacity: 1;
  transition: opacity 0.5s ease; /* Transition pour l'effet de fondu */
  z-index: 5;
}
.icon-container .hover-icon {
  z-index: 5;
  opacity: 0;
  position: absolute; /* Position absolue pour superposer sur l'image par défaut */
  top: 0;
  left: 0;
  transition: opacity 0.5s ease; /* Transition pour l'effet de fondu */
}
.icon-container:hover .default-icon {
  z-index: 5;
  opacity: 0;
}
/* Affiche l'image de survol lors du survol */
.icon-container:hover .hover-icon {
  z-index: 5;
  opacity: 1;
}

.side-menu-container {
  margin-top: 5rem;
  display: flex;
  font-family: "CIND" !important;
  flex-direction: column;
  align-items: center;
}
.side-menu-container p {
  margin: 1rem 0;
  opacity: 0;
  cursor: pointer;
  color: #49c7d8;
  transition: 0.5s ease-in-out;
  text-align: center;
}
.side-menu-container p:hover {
  color: #cc35c0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.side-menu.show .side-menu-container p {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

/* Ajoutez des délais différents pour chaque élément <p> */
.side-menu.show .side-menu-container p:nth-child(1) {
  animation-delay: 0.2s;
}
.side-menu.show .side-menu-container p:nth-child(2) {
  animation-delay: 0.4s;
}
.side-menu.show .side-menu-container p:nth-child(3) {
  animation-delay: 0.6s;
}
.side-menu.show .side-menu-container p:nth-child(4) {
  animation-delay: 0.8s;
}
.side-menu.show .side-menu-container p:nth-child(5) {
  animation-delay: 1s;
}

/* Effet de sortie */
.side-menu:not(.show) .side-menu-container p {
  animation: slideOutToLeft 0.5s ease-out forwards;
}
.navbar.disconnected {
  background-color: #ffffff; /* Gris ou la couleur désirée pour l'état déconnecté */
  animation: none; /* Aucune animation */
}

/* Styles pour l'état connecté */
.navbar.connected {
  background-color: #04043c; /* Votre couleur originale */
  animation: breathe 5s infinite 3.7s; /* L'animation existante */
}

/* Transition pour l'effet 's'allume' */
.navbar {
  transition: background-color 2.5s ease; /* Assurez-vous que l'animation est douce */
}

img#menu.disconnected {
  transform: translateX(-70px); /* Déplacer l'icône hors de l'écran */
}
img#param.disconnected {
  transform: translateX(70px); /* Déplacer l'icône hors de l'écran */
}
img#logo.disconnected {
  transform: translateY(-150px); /* Remettre l'icône à sa position originale */
}
img#menu.connected {
  transform: translateX(0); /* Remettre l'icône à sa position originale */
}

img#param.connected {
  transform: translateX(0); /* Remettre l'icône à sa position originale */
}
img#logo.connected {
  transform: translateX(0); /* Remettre l'icône à sa position originale */
}
img#menu,
img#param {
  /* Transition avec un délai de 0s par défaut */
  transition: transform 2.7s ease 0s;
}
img#logo {
  transition: transform 3s ease 0s;
}
#param {
  margin-right: 0.5rem;
}
#menu {
  margin-left: 0.5rem;
}
@media only screen and (max-width: 650px) {
  #logo {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
  #param {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
  #menu {
    height: 2.5rem;
    margin-top: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  #logo {
    height: 2rem;
    margin-top: 0.5rem;
  }
  #param {
    height: 2rem;
    margin-top: 0.5rem;
  }
  #menu {
    height: 2rem;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #logo {
    height: 1.5rem;
    margin-top: 0.7rem;
  }
  #param {
    height: 1.8rem;
    margin-top: 0.7rem;
  }
  #menu {
    height: 1.8rem;
    margin-top: 0.7rem;
  }
}
