<div class="global-container">
  <div class="form">
    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="votre username"
        />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="votre nom"
        />
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          type="text"
          id="surname"
          formControlName="surname"
          placeholder="votre prenom"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="votre email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="votre mot de passe"
        />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="confirme le mot de passe"
          (change)="checkPasswordMatch()"
        />
      </div>

      <div *ngIf="passwordMismatch()">
        Les mots de passe ne correspondent pas.
      </div>
      <div class="button-container">
        <button type="submit" [disabled]="!inscriptionForm.valid">
          S'inscrire
        </button>
      </div>
    </form>
  </div>
</div>
