<div class="cardselected-container" *ngIf="platforms.length !== 0">
  <div class="card-container">
    <ng-container *ngFor="let platform of platforms">
      <app-card *ngIf="toggles[platform.id]" [platform]="platform">
        <!-- <img [src]="'/assets/platforms-icon/' + platform.name + '.png'" alt="" /> -->
      </app-card>
    </ng-container>
  </div>
</div>

<div
  *ngIf="isDataLoaded && isObjectEmpty(toggles)"
  class="no-platforms-message"
>
  <p [routerLink]="['/settings']">Cliquez ici pour ajouter des plateforms</p>
</div>
