<!-- <h1 *ngIf="platform">La collection {{ platform.name }}</h1> -->
<div class="title-container">
  <div class="image-container">
    <img
      src="/assets/icon/back.png"
      alt="Retour"
      class="back-icon"
      (click)="goBack()"
    /><img
      id=""
      back-pink
      src="/assets/icon/back-pink.png"
      alt="Retour Hover"
      class="back-icon hover"
      (click)="goBack(); closeToast()"
    />
  </div>
  <h1
    [class.title-not-found]="h1Title === 'Introuvable dans cette collection'"
    *ngIf="platform"
  >
    {{ h1Title }}
  </h1>
</div>
<div class="search-container">
  <app-searchbar (search)="onSearch($event)"></app-searchbar>
  <app-putmediabar (mediaAdded)="handleMediaAdded($event)"></app-putmediabar>
</div>
<!-- <ul>
  <li *ngFor="let media of mediaList">
    {{ media.title }}
    Utilise les propriétés de l'objet 'media' comme tu le souhaites
  </li>
</ul> -->
<div *ngIf="!showAsCard; else cardTemplate" class="list-container">
  <ul>
    <li *ngFor="let media of mediaList">
      <div
        class="title-list-container"
        [ngClass]="{ hovered: media.isHovered }"
      >
        <div>
          <p class="title" [style.border-bottom-color]="media.hoverColor">
            {{ media.title }}
          </p>
        </div>
        <div>
          <button
            id="modifier"
            (mouseover)="toggleHover(media, true, '#49c7d8')"
            (mouseout)="toggleHover(media, false, '')"
            (click)="modifier(media.id); closeToast()"
          >
            Modifier
          </button>
          <button
            id="supprimer"
            (mouseover)="toggleHover(media, true, '#b5236d')"
            (mouseout)="toggleHover(media, false, '')"
            (click)="supprimer(media.id); closeToast()"
          >
            Supprimer
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #cardTemplate class="all-card-container">
  <div class="all-card-container">
    <div *ngFor="let card of cardData" class="card-container">
      <h2>{{ card.title }}</h2>
      <img
        [src]="card.imageUrl"
        alt="{{ card.title }}"
        (click)="showGuid(card.guid); closeToast()"
      />
      <!-- <p>{{ card.description }}</p> -->
      <!-- <p>Date de sortie : {{ card.releaseDate }}</p> -->
      <div class="button">
        <button (click)="showGuid(card.guid); closeToast()">+ d'infos</button>
        <button (click)="pushMedia(card, platformId); closeToast()">
          Ajouter
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- <div>
  <p>Ajouter un jeu</p>
  <form (ngSubmit)="onAddMedia()">
    <label for="mediaTitle">Titre du média:</label>
    <input
      type="text"
      id="mediaTitle"
      [(ngModel)]="mediaTitle"
      name="mediaTitle"
    />
    <button type="submit">Ajouter le média</button>
  </form>
</div> -->
